// .reveal {
//     position: relative;
//     transform: translateY(120px);
//     opacity: 0;
//     transition: 1s all ease;
// }

// .reveal.current {
//     transform: translateY(0);
//     opacity: 1;
// }



$orange: #F2652E;
$darkblue :#264177;
$textcolor: #595959;
$gradient : linear-gradient(270deg, #396BB9 -28.58%, $darkblue 100.77%);


body {
    font-family: 'Poppins', sans-serif;
    color: $textcolor;
}

h1 {
    font-size: 55px;
    font-weight: 600;
    line-height: 64px;
}

h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 29px;
}

h4 {
    font-size: 22px;
    line-height: 27px;
    font-weight: 600;
}

h6 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

p {
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
}

.custom-ul ul {
    list-style: none;
    padding-left: 10px;

    li {
        padding-bottom: 10px;
        line-height: 19px;
        position: relative;
        padding-left: 20px;
        font-size: 15px;
        line-height: 25px;
        font-weight: 300;

        &:after {
            position: absolute;
            content: "";
            height: 2px;
            width: 10px;
            left: 0;
            top: 13px;
            background-color: $textcolor;
        }
    }
}

.p-25 {
    padding: 25px;
}

.bg-dark-gradient {
    background: $gradient;
    color: #fff;

    .section-title {
        small {
            color: #fff;
        }

        h3 {
            span {
                color: #fff;
            }
        }
    }
}

.btn.btn-gradient {
    background: $gradient;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    padding: 9px 23px;
    position: relative;
    border: none;
}

.btn {
    transition: .3s;

    &:hover {
        background: linear-gradient(270deg, $orange -28.58%, $orange 100.77%);
    }
}

.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.form-control:focus {
    outline: 0;
    box-shadow: none;
}

.section-title {
    small {
        font-weight: 700;
        font-size: 14px;
        line-height: 29px;
        color: $darkblue;
    }

    h3 {
        color: $orange;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 20px;
        line-height: 37px;

        span {
            color: $darkblue;
        }
    }
}

.section-padding {
    margin-top: 100px;
}


.background-image {
    background-image: url(/images/background-image.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 100px 0px;

    &.fixed-bg {
        background-attachment: fixed;
    }

    .content {
        z-index: 2;
        position: relative;
        color: #fff;

        .section-title {
            h3 {
                span {
                    color: #fff;
                }
            }
        }
    }

    &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        background: linear-gradient(270deg, #396BB9 -28.58%, #264177 100.77%);
        width: 100%;
        height: 100%;
        opacity: .8;
        z-index: 1;
    }
}



// Video payer
.video-wrapper {
    .video-container {
        width: 100%;
        border-radius: 10px;
        margin: 0 auto;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .video-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        video {
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
    }

    .play-button-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        pointer-events: none;

        #circle-play-b {
            cursor: pointer;
            pointer-events: auto;
        }
    }
}





// main-menu
.header {
    nav.navbar {
        transition: .4s;
        padding: 35px 0px;

        ul.navbar-nav {
            transition: .4s;

            li {
                a.nav-link {
                    color: $darkblue;
                    font-weight: 500;

                    &:hover,
                    &.active {
                        color: $orange;
                    }
                }
            }
        }
    }

    &.scrolled-nav {
        nav.navbar {
            background-color: #fff;
            box-shadow: 0px 2px 6px rgb(0 0 0 / 25%);
            padding: 20px 0px;
        }
    }
}






// hero-banner
.hero-banner {
    background-image: url(/images/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 170px 0px 100px 0px;

    &.inner-banner {
        background-image: url(/images/gradinet-bg.svg);

        .hero-caption {
            h1 {
                line-height: 50px;
                margin-bottom: 35px;
            }

            .links-div {
                border-left: 2px solid $darkblue;
                padding-top: 5px;
                padding-left: 15px;

                h5 {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 21px;
                    color: $darkblue;
                }

                p {
                    margin-bottom: 0;
                }
            }
        }
    }

    .hero-caption {
        h1 {
            color: $orange;
            font-weight: 700;

            span {
                color: $darkblue;
                font-size: 40px;
                line-height: 26px;
                font-weight: 700;
            }
        }

        .links-div {
            h4 {
                font-weight: 700;
                line-height: 27px;
                text-transform: uppercase;
                color: $orange;

                span {
                    color: $darkblue;
                }
            }
        }
    }

    &.careers-page {
        padding: 150px 0px 100px 0px;

        .hero-caption {
            padding-top: 60px;

            h1 {
                line-height: 65px;
            }
        }
    }
}





/* stats  */
.stats {
    background: $gradient;
    padding: 40px 30px 30px 30px;
    border-top: 2px solid #fff;

    .number {
        h2 {
            font-weight: 600;
            font-size: 50px;
            color: #fff;
            margin-bottom: 0;
            line-height: 38px;
        }

        h5 {
            color: #fff;
            font-weight: 300;
            font-size: 15px;
            line-height: 20px;
            letter-spacing: .8px;
        }
    }

    .number .stat-outer {
        padding: 10px 0px;
    }

    .stat-outer:not(:last-child) {
        border-right: 1px solid #fff;
    }
}



// our values
.card-outer {
    min-height: 100%;

    .card-wrapper {
        background: rgba(255, 255, 255, 0.02);
        box-shadow: 0px 1px 14px rgb(0 0 0 / 8%);
        transition: .3s;
        height: 100%;
        position: relative;
        border-radius: 5px;
        overflow: hidden;

        &:hover {
            box-shadow: 0px 1px 14px rgb(0 0 0 / 18%);

            .image {
                img {
                    transform: scale(1.1);
                }
            }
        }

        &:after {
            position: absolute;
            width: 100%;
            height: 9px;
            background: $gradient;
            bottom: 0;
            left: 0;
            content: "";
        }

        .image {
            overflow: hidden;

            img {
                transition: transform .4s;
                overflow: hidden;
            }
        }

        .card-body {
            padding: 25px;

            h5 {
                font-style: normal;
                font-weight: 700;
                font-size: 25px;
                line-height: 29px;
                color: $orange;
                margin-bottom: 0;
            }

            small {
                font-weight: 700;
                font-size: 14px;
                line-height: 29px;
                color: $darkblue;
                padding-bottom: 10px;
                display: inline-block;
            }
        }
    }
}




// why-inivos
.why-inivos {
    padding: 85px 0px 170px 0px;
    position: relative;

    .slider-column {
        position: absolute;
        right: 0;
    }

    .owl-slider {
        .owl-item {
            background: rgba(255, 255, 255, 0.05);
            border-radius: 5px;
            padding: 25px;
            min-height: 325px;
            transition: .3s;

            &:hover {
                background: rgba(255, 255, 255, 0.1);
                box-shadow: 0px 1px 14px rgb(0 0 0 / 8%);
                transform: scale(1.02);
            }

            img {
                width: 50px;
                margin-bottom: 12px;
            }
        }

        .owl-nav {
            text-align: right;
            padding-top: 25px;
            padding-right: 40px;

            .nav-btn {
                margin: 0px 8px;
            }
        }
    }
}





// our-team
.our-team {
    background-color: #F5F5F5;
    padding-top: 100px;

    .team-image {
        position: relative;

        .popoer {
            position: absolute;
            top: -100%;
            background-color: #fff;
            opacity: 0;
            transition: .3s;
            left: 5%;
            padding: 25px;
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
            border-radius: 10px;

            &:after {
                position: absolute;
                content: "";
                background-image: url(/images/polygon.svg);
                bottom: -78px;
                right: 69px;
                width: 100px;
                height: 100px;
                background-repeat: no-repeat;
            }

            p {
                font-size: 14px;
                line-height: 22px;
                font-weight: 300;
            }
        }

        &:hover {
            .popoer {
                top: -75%;
                opacity: 1;
            }
        }
    }


    .details-row {
        background: $gradient;
        padding: 40px 0px;

        h6 {
            color: #fff;
            margin-bottom: 0;
            font-weight: 600;
            font-size: 17px;
        }

        p {
            color: #fff;
            font-size: 13px;
            margin-bottom: 0;
        }
    }
}





// Strategic Alliances 
.strategic-alliances {
    .card-item {
        background: #FFFFFF;
        box-shadow: 0px 0px 13px 1px rgb(0 0 0 / 9%);
        border-radius: 5px;
        padding: 40px;
        height: 100%;
        position: relative;
        overflow: hidden;

        hr {
            opacity: .1;
        }

        .link {
            position: absolute;
            background: $gradient;
            width: 100%;
            left: 0;
            bottom: -76px;
            transition: .3s;
            padding: 15px 50px;
            opacity: 0;
            color: #fff;
            text-decoration: none;
            font-size: 14px;
        }

        &:hover {
            .link {
                bottom: 0px;
                opacity: 1;
            }
        }
    }
}





// footer
.footer {
    margin-top: 75px;

    .contact-detail-wrapper {
        padding: 65px;

        .contact-detail {
            margin-bottom: 40px;

            h6 {
                color: #fff;
                font-size: 18px;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 5px;
            }

            p,
            a {
                color: #fff;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            .address {
                p:not(:last-child) {
                    margin-bottom: 0;
                }

                p {
                    color: #fff;

                    b {
                        font-size: 17px;
                        font-weight: 600;
                    }
                }
            }
        }

        .social {
            a {
                margin-right: 15px;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .form-wraper {
        background-color: rgb(255 255 255 / 10%);
        height: 100%;
        padding: 65px;
        position: relative;

        .form-div {
            .form-control {
                background-color: transparent;
                border: none;
                color: #fff;
                border-bottom: 1px solid #fff;
                border-radius: 0;
            }

            label {
                color: #fff;
                padding: 11px 20px 20px 0px;
                font-weight: 300;
                font-size: 15px;
            }

            button.btn.btn-block {
                width: 100%;
                background-color: #fff;
                border-radius: 0;
                padding: 12px;
                margin-top: 20px;
                color: $darkblue;
                font-weight: 600;
                border-radius: 5px;
                transition: .3s;

                &:hover {
                    color: #fff;
                }
            }

            .alert-success {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                border-radius: 0;
                margin-top: 0 !important;
                display: flex;
                align-items: center;
                justify-content: center;

                h6 {
                    font-weight: 600;
                    margin-bottom: 0;
                }

                p {
                    margin-bottom: 0;
                }

                button.close {
                    position: absolute;
                    top: 3%;
                    background-color: transparent;
                    border: none;
                    right: 3%;

                    img {
                        width: 25px;
                    }
                }

                div {
                    text-align: center;

                    img {
                        width: 60px;
                        margin: auto;
                        margin-bottom: 15px;
                    }
                }
            }

        }
    }
}

.copy-right {
    p {
        font-size: 13px;
    }
}






.our-services {
    padding: 85px 0px;
    position: relative;

    .card-item {
        background: rgba(255, 255, 255, 0.05);
        border-radius: 5px;
        padding: 25px;
        min-height: 325px;
        transition: .3s;

        &:hover {
            background: rgba(255, 255, 255, 0.1);
            box-shadow: 0px 1px 14px rgb(0 0 0 / 8%);
            transform: scale(1.05);
        }

        h6 {
            font-weight: 600;
            color: $orange;

            span {
                color: #fff;
            }
        }

        ul {
            list-style: none;
            font-size: 14px;
            padding-left: 4px;
            font-weight: 300;
            padding-top: 7px;

            li {
                padding-bottom: 5px;
                line-height: 19px;
                position: relative;
                padding-left: 20px;

                &:after {
                    position: absolute;
                    content: "";
                    height: 1.4px;
                    width: 10px;
                    left: 0;
                    top: 8px;
                    background-color: #fff;
                }
            }
        }
    }
}







// technology
.card-item {
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 13px 1px rgb(0 0 0 / 9%);
    border-radius: 5px;
    height: 100%;
    position: relative;
    overflow: hidden;
    transition: .3s;

    &:hover {
        box-shadow: 0px 1px 14px rgb(0 0 0 / 18%);
        transform: scale(1.02);
    }

    ul {
        list-style: none;
        padding-left: 10px;

        li {
            padding-bottom: 10px;
            line-height: 19px;
            position: relative;
            padding-left: 20px;

            &:after {
                position: absolute;
                content: "";
                height: 2px;
                width: 10px;
                left: 0;
                top: 8px;
                background-color: #595959;
            }
        }
    }


    &.light-bg {
        background: rgba(242, 101, 46, 0.01);
        box-shadow: 0px 1px 14px rgb(0 0 0 / 8%);
        border-radius: 5px;
        padding: 25px;


        hr {
            background-color: rgba(42, 92, 170, 0.23);
            opacity: 1;
            height: 0.3px !important;
        }


        h6 {
            font-weight: 600;
            color: $orange;
            min-height: 48px;

            span {
                color: $darkblue;
            }
        }

        p {
            font-size: 14px;
        }
    }

    &.border-orange {
        border-bottom: 6px solid $orange;
    }

    &.border-blue {
        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            background: $gradient;
            width: 100%;
            height: 8px;
            content: "";
        }
    }
}


// technology-logo-icon
span.badge.badge-icon {
    border: 0.8px solid rgba(42, 92, 170, 0.23);
    border-radius: 0;
    padding: 8px 15px;
    font-size: 15px;
    font-weight: 300;
    color: $textcolor;
    margin-right: 3px;
    margin-bottom: 5px;
    background-color: #fff;
    transition: .2s;

    &:hover {
        transform: scale(1.2);
    }
}




// card with image
.image-card {
    overflow: hidden;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    transition: 0.3s;
    position: relative;
    height: 100%;
    border-bottom: 6px solid $orange;

    .image-overlay-wrapper {
        transition: 0.3s;
        position: relative;

        .overlay-text {
            position: absolute;
            background-color: rgb(242 101 48 / 90%);
            width: 100%;
            height: 100%;
            transform: scale(.5);
            opacity: 0;
            transition: .3s;
            padding: 25px;

            ul {
                list-style: none;
                font-size: 14px;
                padding-left: 4px;
                font-weight: 300;
                padding-top: 7px;

                li {
                    padding-bottom: 5px;
                    line-height: 19px;
                    position: relative;
                    padding-left: 20px;

                    &:after {
                        position: absolute;
                        content: "";
                        height: 1.4px;
                        width: 10px;
                        left: 0;
                        top: 8px;
                        background-color: #fff;
                    }
                }
            }
        }
    }

    &:hover {
        .overlay-text {
            opacity: 1;
            transform: scale(1);
        }
    }

    .card-text {
        padding: 20px;

        h6 {
            margin-bottom: 0;
            font-weight: 600;
            font-size: 16px;
        }
    }
}





.owl-stage-outer {
    background: rgba(242, 101, 46, 0.01);
    box-shadow: 0px 1px 14px rgb(0 0 0 / 8%);
    border-radius: 5px;

    .testimonial-block {
        .company-detail {
            background: $gradient;
            padding: 25px;

            img {
                background-color: #fff;
                border-radius: 5px;
                margin-bottom: 15px;
            }

            h5 {
                color: #fff;
                font-weight: 700;
                font-size: 18px;
                line-height: 29px;
            }

            p {
                color: #fff;
            }
        }

        .comment {
            padding: 75px;
            background-image: url(/images/comma.svg);
            background-repeat: no-repeat;
            background-position: 3% 15%;
            background-size: 40px;

            .writer {
                display: flex;
                align-items: center;
                justify-content: start;
                padding-top: 20px;

                .profile-image {
                    border-radius: 50%;
                    overflow: hidden;
                    border: 4px solid rgba(242, 101, 46, 0.42);
                    margin-right: 20px;

                    img {
                        max-width: 75px;
                    }
                }

                .name {
                    p {
                        font-weight: 600;
                        color: $orange;
                        margin-bottom: 0;
                        line-height: 13px;
                    }

                    small {
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

.our-services {
    .owl-nav {
        position: absolute;
        right: 0;
        bottom: 15%;
        right: 5%;
    }
}






.consulting-support {
    padding: 85px 0px;
    position: relative;
}





.image-article {
    .content {
        padding-top: 25px;
        padding-left: 15px;

        ul {
            list-style: none;
            padding-left: 10px;

            li {
                padding-bottom: 10px;
                line-height: 19px;
                position: relative;
                padding-left: 20px;

                &:after {
                    position: absolute;
                    content: "";
                    height: 2px;
                    width: 10px;
                    left: 0;
                    top: 8px;
                    background-color: $textcolor;
                }
            }
        }
    }
}







// gallery slider 
.gallery-slider {
    padding-top: 25px;

    .item {
        border-radius: 15px;
        overflow: hidden;
    }

    .owl-carousel:hover{
        .owl-nav{
            button.owl-prev{
                left: 0%;
                opacity: 1;
            }
    
            button.owl-next {
               right: 0%;
               opacity: 1;
            }
         }
    }
     .owl-nav{
        button.owl-prev,
        button.owl-next {
            position: absolute;
            top: 1%;
            height: 99%;
            padding: 7px !important;
            transition: .3s;
        }

        button.owl-prev{
            left: 1.5%;
            opacity: 0;
        }
        button.owl-next {
           right: 1.5%;
           opacity: 0;
        }

        .nav-btn.next-slide,
        .nav-btn.prev-slide {
            background: linear-gradient(270deg, #396bb9b3 -28.58%, #26417799 100.77%);
            padding: 10px; 
        }
        .nav-btn.next-slide { 
            border-radius: 0px 5px 5px 0px;
        }
        .nav-btn.prev-slide{ 
            border-radius: 5px 0px 0px 5px;
        }
     }
}




// colleagues testimonail
.colleagues-testimonail-section {
    padding-top: 85px;

    .colleagues-testimonail {

        .owl-stage-outer {
            background: transparent;
            box-shadow: none;
            border-radius: 0px;
        }

        .testimonail-item {
            .image-outer {
                position: relative;
                width: 30%;
                margin: auto;

                .shadow {
                    background-color: $orange;
                    width: 102%;
                    height: 103%;
                    position: absolute;
                    left: 0px;
                    top: 1px;
                    z-index: 1;
                    border-radius: 50%;
                }

                .image {
                    border-radius: 50%;
                    overflow: hidden;
                    margin-bottom: -60px;
                    position: relative;
                    z-index: 5;
                }
            }

            .content {
                padding: 90px 40px 40px 40px;
                border-radius: 5px;
                background-repeat: no-repeat;
                background-position: 6% 23%;
                background-size: 40px;
                min-height: 355px;

                p {
                    font-style: italic;
                    font-weight: 300;
                    font-size: 15px;
                    line-height: 20px;
                }

                h6 {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 25px;
                    color: $orange;
                    margin-bottom: 0;
                }

                p.resignation {
                    font-style: italic;
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 25px;
                }
            }
        }

        .owl-item:nth-child(odd) {
            .content {
                background-color: rgb(255 255 255 / 90%);
                background-image: url(/images/inverted-comma-orange.svg);

                p {
                    color: $textcolor;
                }
            }
        }

        .owl-item:nth-child(even) {
            .content {
                background-color: rgb(255 255 255 / 10%);
                background-image: url(/images/inverted-comma-white.svg);
            }
        }

        .owl-nav {
            text-align: right;
            padding-top: 15px;
            button.owl-prev{
                padding-right: 5px !important;
            }
            button.owl-next{
                padding-left: 5px !important;
            }
        }
    }

}



// Reason for join
.join-reason {
    padding: 180px 0px;
    margin-top: 70px;
    position: relative;
    // background-image: url(/images/ovindu.png);
    // background-repeat: no-repeat;
    // background-position: 100% 100%;
    // background-size: 22%;
     .our-features {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}








.interview-process {
    &.background-image {
        background-image: url(/images/inerview-process-background.webp);

        &::after {
            position: absolute;
            opacity: .9;
        }
    }

    .interview-process-item {
        .no-border {
            border: 1px solid #fff;
            border-radius: 50%;
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 18px;

            h3 {
                margin-bottom: 0;
                padding-left: 3px;
                font-size: 24px;
                font-weight: 300;
            }
        }

        h5 {
            font-weight: 600;
            font-size: 22px;
            line-height: 28px;
        }
        p{
            span{
                font-weight: 600;
                color: white;
            }
        }
    }
}






// vacancy-list
.vacancy-list {
    .vacancy-item.card-item { 
        h6 {
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            min-height: 0;
            color: $darkblue ;
        }
        p{
            display: flex;
            align-items: center;
            margin-bottom: 3px;
            line-height: 20px;
            img.img-fluid {
                margin-right: 15px;
            }
        }
        .btn.btn-gradient { 
            font-size: 14px;
            padding: 6px 23px 8px 23px; 
            margin-top: 15px;
        } 
    }
    .card-item:hover{
        transform: scale(1.004);
    }
}